:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border-color: rgb(132, 131, 133);
  --border-color-hover: rgb(71, 70, 71);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 75%;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

section {
  margin-bottom: 2em;
  border: 2px solid var(--border-color-hover);
  padding: 1em;
  border-radius: 0.5em;
}

.input-wrapper select option {
  text-decoration: underline;
  color: var(--border-color-hover);
}

.input-group.inline .input-wrapper {
  display: inline-block;
}

.input-wrapper {
  display: block;
  margin-bottom: 1em;
  text-align: left;
}

.input-wrapper label {
  font-size: 0.75em;
  display: block;
  margin-bottom: 0.5em;
}

.input-wrapper select {
  appearance: none !important;
  background-color: #fafafa;
  width: 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
  background-position: 100%;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 0;
}


.input-wrapper input,
.input-wrapper select {
  width: 100%;
  padding: 0.75em;
  font-size: 1.25em;
  box-sizing: border-box;
  border: 2px solid var(--border-color);
  border-radius: 5px;
}

.input-wrapper.auto {
  width: 100px;
}

.input-wrapper.auto input,
.input-wrapper.auto select {
  width: 100%;
  padding: 2px;
}

.input-wrapper input:hover,
.input-wrapper input:focus,
.input-wrapper select:hover,
.input-wrapper select:focus {
  border: 2px solid var(--border-color-hover);
}

.input-wrapper input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}

.input-wrapper input[type="date"]:focus:before,
.input-wrapper input[type="date"]:valid:before {
  content: "";
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}